body{
    padding: 10vh 0;
    text-align: center;
}
.game{
    height: 80vh;
    width: 100vh;
    border: solid 1px black;
    margin: 0 auto 20px auto;
}
button{
    border: solid 1px red;
    border-radius: 10px;
    padding: 20px 40px;
    font-size: 20px;
    display: inline-block;
}
p{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5vh;
}